@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* colors */
:root {
  --color-blue: #94bbe9;
  --color-white: #ffff;
  --color-black: #36454f;
  --color-black2: #1b1212;
  --color-black3: #28282b;
}

/* font size */
:root {
  --font-size-28: 28px;
  --font-size-26: 26px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
}

.bold-header-text {
  color: var(--color-black3);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 51.2px;
  line-height: 57.6px;
  font-weight: 800;
  letter-spacing: 0;
}

.bold-text {
  color: var(--color-black);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700 ;
  letter-spacing: 0;
}

.normal-text {
  color: var(--color-black);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 17.6px;
  line-height: 25.6px;
  font-weight: 400 ;
  letter-spacing: 0;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: var(--color-blue);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.blue-color {
  color: var(--color-blue);
}

.bg-blue {
  background: var(--color-blue);
}

.nav-menu {
  background: var(--color-white);
  colors: var(--color-black);
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a:hover {
  color: var(--color-blue);
}

.nav-menu a {
  text-decoration: none;
  font-size: var(--font-size-18);
  font-weight: 500;
  color: var(--color-black);
  padding: 15px;
}

.box-size {
  min-height: 170px;
}

.triangle-left {
  float: left;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 130px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 130px solid transparent;
  border-left: 130px solid var(--color-blue);
  width: 100px;
  height: 100px;
  margin-top: 20px;
  z-index: -99;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .bold-header-text {
    font-size: 35px;
    line-height: 36.8px;
  }

  .nav-menu {
    background: var(--color-white);
  }

  .nav-menu a {
    padding-inline-start: 0px;
    color: var(--color-black);
    background: white;
  }

  .nav-menu li {
    padding: 8px;
  }

  .triangle-left {
    display: none;
  }
}
