@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

body {
  scroll-behavior: smooth;
}

/* colors */
:root {
  --color-blue: #94bbe9;
  --color-blue2: #4688c8;
  --color-white: #ffff;
}

/* font size */
:root {
  --font-size-28: 28px;
  --font-size-26: 26px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: var(--color-blue);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.pink-color {
  color: var(--color-blue);
}

.pink-bg {
  background: var(--pink-color);
}

.blue-color {
  color: var(--color-blue);
}

.blue-bg {
  background: var(--pink-color);
}

.nav-menu {
  background: var(--color-blue);
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a:hover {
  color: var(--color-blue2);
}

.nav-menu a {
  text-decoration: none;
  font-size: var(--font-size-18);
  font-weight: 500;
  color: var(--color-white);
  background: var(--color-blue);
  padding: 15px;
}

.box-size {
  min-height: 170px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .nav-menu {
    background: var(--color-white);
  }
  .nav-menu a {
    padding-inline-start: 0px;
  }
  .nav-menu li {
    padding-block-start: 14px;
    color: var(--color-blue2);
  }
}
